html
{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    background : rgb(20,20,20)                          ;
}

.SideNav
{
    background-color: rgb(240 ,170 ,35);
    
    position: fixed;
    
    height: 100%;
    width : 15vw;
    
    top  : 0;
    right: 0;
    
    overflow-x: hidden;
    
    transition: 0.2s;
    
    z-index: 1;
}

.SideNav ul
{
    width: 15vw;
}

.SideNav li h1
{
    color  : white;
    display: block;
    padding:  12px;
    
    font-size  : calc(10pt + 0.5vw);
    font-weight:                300;
    
    letter-spacing: 0.6px;
    
    text-align     : center;
    text-decoration: none  ;
}

.SideNav li span
{
    color: white;
    
    cursor: pointer;
        
    display: block;
    
    margin :     0;
    padding:  12px;
    
    font-size: calc(8pt + 0.5vw);
    
    text-align     : center;
    text-decoration: none  ;
    
    text-emphasis: 1px;

    transition: 0.2s;
}

.SideNav li span:hover
{
    color           : rgb(240, 170, 35);
    background-color: rgb( 40,  40, 40);
}

.SideNav img
{
    display: block;
    
    margin-left : auto;
    margin-right: auto;
    
    width: inherit;
}