html
{
    color: white;
    
    background           : rgb(65, 65, 65);
    background-blend-mode:      difference;
    background-repeat    :          repeat;
    background-size      :             4vw;
    background-image     : url("/pages/img/escheresque_ste.png"); /* Thanks to: Ste Patten */
    
    font-family: 'Open Sans', sans-serif;
    
    margin-top: 1.5vw;
}

.entry 
{
    border-color : rgb(240, 240, 240);
    border-width :                5px;
    border-radius:               10px;
    border-style :              solid;
    
    margin-left  : 10%;
    margin-right : 10%;
    margin-bottom:  4%;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b7b7b7+0,ffffff+6,ffffff+94,b7b7b7+100 */
    background: #b7b7b7; /* Old browsers */
    background: -moz-linear-gradient(left, #b7b7b7 0%, #ffffff 6%, #ffffff 94%, #b7b7b7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #b7b7b7 0%,#ffffff 6%,#ffffff 94%,#b7b7b7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #b7b7b7 0%,#ffffff 6%,#ffffff 94%,#b7b7b7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b7b7', endColorstr='#b7b7b7',GradientType=1 ); /* IE6-9 */
}

.entry #title
{
    background-color: rgb(40, 40, 40);
    
    font-size: calc(6pt + 1.5vw);
    
    margin: 0;
    
    padding     :  4px;
    padding-left: 40px;
}

.entry #date 
{
    background-color: rgb(240, 170, 35);
    
    color: rgb(20, 20, 20);
    
    font-size: calc(3.5pt + 0.5vw);
    
    margin: 0 !important;
    
    padding     :  5px;
    padding-left: 60px;
}

.entry #content
{
    color: black;
    
    font-size: calc(6pt + 0.5vw);
    
    padding-right: 7%;
    padding-left : 7%;
}