html
{
    background : rgb(20,20,20);
    color      :         white;
    
    font-family: 'Open Sans', sans-serif;
}

.linkList 
{
    margin    : auto;
    margin-top:  10%;
}

.linkList li
{
    display: block; 
    
    text-align     : center;
    text-decoration: none  ;
}

.linkList #deviantart
{
	width: 20%;
}

.linkList #github
{
	width: 15%;
}