/* line 1, ../sass/projects.scss */
html {
  background: #141414;
  color: white;
  font-family: 'Open Sans', sans-serif; }

/* line 9, ../sass/projects.scss */
.projectClose {
  cursor: pointer;
  background-color: black;
  border-style: solid;
  border-color: black;
  display: block;
  margin: 1vw;
  margin-top: 1vw;
  margin-left: 30%;
  margin-bottom: 0.5vw;
  opacity: 0.75;
  padding: 5.4vw;
  position: relative;
  max-width: 27vw;
  max-height: 1.5vw;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s; }
  /* line 36, ../sass/projects.scss */
  .projectClose h1 {
    font-size: calc(1pt + 1.5vw);
    color: gainsboro;
    position: relative;
    left: -3vw;
    top: 1.3vw;
    text-rendering: optimizeLegibility; }
  /* line 50, ../sass/projects.scss */
  .projectClose p {
    opacity: 0;
    margin: 0;
    padding: 0;
    height: 0; }
  /* line 59, ../sass/projects.scss */
  .projectClose img {
    opacity: 0;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s; }

/* line 68, ../sass/projects.scss */
.projectClose:hover {
  border-color: #e6e6e6;
  color: #f0f0f0;
  opacity: 1.0;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s; }

/* line 80, ../sass/projects.scss */
.projectClose#abstractRealm {
  background-image: url("/pages/img/arBKeffected.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 110%; }

/* line 89, ../sass/projects.scss */
.projectClose#mRemaster {
  background-image: url("/pages/img/MRemasterBk.png");
  background-position: 2vw;
  background-repeat: no-repeat;
  background-size: 120%; }

/* line 98, ../sass/projects.scss */
.projectClose#PnM {
  background-image: url("/pages/img/PointNMovePic.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 110%; }
  /* line 106, ../sass/projects.scss */
  .projectClose#PnM h1 {
    color: black; }

/* line 112, ../sass/projects.scss */
.projectClose#IWVR {
  background-image: url("/pages/img/IWVR_PicClose.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 110%; }

/* line 121, ../sass/projects.scss */
.projectOpen {
  cursor: pointer;
  background-color: black;
  border-style: solid;
  border-color: black;
  display: block;
  margin-top: 7vw;
  margin-left: 5%;
  margin-right: 5%;
  opacity: 1;
  padding: 5.4vw;
  position: absolute;
  top: 0;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
  z-index: 10; }
  /* line 149, ../sass/projects.scss */
  .projectOpen h1 {
    font-size: calc(8pt + 1vw);
    color: gainsboro;
    position: relative;
    left: 3vw;
    top: -2vw;
    text-rendering: optimizeLegibility;
    transition-timing-function: ease-in-out;
    transition-duration: 0.8s; }
  /* line 166, ../sass/projects.scss */
  .projectOpen img {
    opacity: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s; }
  /* line 174, ../sass/projects.scss */
  .projectOpen p {
    opacity: 1;
    margin-right: 35vw;
    padding: 0.5vw;
    transition-timing-function: ease-in-out;
    transition-duration: 0.6s; }

/* line 186, ../sass/projects.scss */
.projectOpen#abstractRealm {
  background-color: black;
  background-image: url("/pages/img/arBKeffected.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s; }

/* line 200, ../sass/projects.scss */
.projectOpen#mRemaster {
  background-image: url("/pages/img/MRemasterBk.png");
  background-position: 115%;
  background-repeat: no-repeat;
  background-size: 50%;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s; }

/* line 212, ../sass/projects.scss */
.projectOpen#PnM {
  background-image: url("/pages/img/PointNMovePic.jpg");
  background-position: 108%;
  background-repeat: no-repeat;
  background-size: 50%;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s; }

/* line 224, ../sass/projects.scss */
.projectOpen#IWVR {
  background-image: url("/pages/img/IWVRPic.png");
  background-position: 105%;
  background-repeat: no-repeat;
  background-size: 50%;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s; }

/*# sourceMappingURL=projects.css.map */
